{{extend 'layout.html'}}
{{from gluon.serializers import json}}
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="pull-left">
            <span class="panel-title"><span class="glyphicon glyphicon-triangle-right"></span>{{=request.function}} {{=request.controller}}</span> <span class="separator_pipe">|</span> <a href="#">1st Attempt</a> <span class="separator_pipe">|</span> <a href="#">2nd Attempt</a> <span class="separator_pipe">|</span> <a href="#">Final Attempt</a>
        </div>
        <button id="add_object_btn" type="button" class="btn btn-primary pull-right btn-sm" {{''' data-toggle="modal" data-target="#object_modal" '''}} >
            <span class="glyphicon glyphicon-plus"></span>
            Add Referral
        </button>
        <div class="clearfix"></div>
    </div>
    <div class="panel-body" style="overflow-x: auto;"> {{# otherwise it will overflow beyond panel-body when resized}}
        <table class="table table-striped table-hover table-bordered table-condensed">
            <tr>
                <th><a href="#" class="table_header_links"><span class="glyphicon glyphicon-check"></span></a></th>
                <th><a href="{{=paginater.order_links["referral"]["urgent"]["url"]}}" class="table_header_links"><span class="glyphicon glyphicon-flag"></span></a> {{=paginater.order_links["referral"]["urgent"]["arrow"]}}</th>
                <th><a href="{{=paginater.order_links["referral"]["id"]["url"]}}" class="table_header_links">Order Date</a> {{=paginater.order_links["referral"]["id"]["arrow"]}}</th>
                <th><a href="{{=paginater.order_links["patient"]["last_name"]["url"]}}" class="table_header_links">Patient Name</a> {{=paginater.order_links["patient"]["last_name"]["arrow"]}}</th>
                <th><a href="{{=paginater.order_links["patient"]["date_of_birth"]["url"]}}" class="table_header_links">Date of Birth</a> {{=paginater.order_links["patient"]["date_of_birth"]["arrow"]}}</th>
                <th><a href="{{=paginater.order_links["provider"]["last_name"]["url"]}}" class="table_header_links">Ordering Provider</a> {{=paginater.order_links["provider"]["last_name"]["arrow"]}}</th>
                <th><a href="{{=paginater.order_links["site"]["name"]["url"]}}" class="table_header_links">Referral Destination</a> {{=paginater.order_links["site"]["name"]["arrow"]}}</th>
                <th><a href="{{=paginater.order_links["referral"]["appointment_date"]["url"]}}" class="table_header_links">Appointment Date</a> {{=paginater.order_links["referral"]["appointment_date"]["arrow"]}}</th>
                <th><a href="#" class="table_header_links">Status</a></th>
                <th class="col-md-1"><input class="form-control input-sm" type="text" placeholder="&#128269; Search Patient"></th>
            </tr>
        {{for i, row in enumerate(rows):}}
            <tr>
                <td><input type="checkbox" class="table_checkbox" title="{{=request.function.capitalize()}} ID {{=row.referral.id}}"></td>
                <td>
                {{if row.referral.urgent:}}
                    <span class="glyphicon glyphicon-exclamation-sign text-danger" title="Urgent" data-toggle="tooltip"
                          data-placement="top"></span></td>
            {{pass}}
                <td>{{=row.referral.order_date}}</td>
                <td>{{=row.patient.last_name}}, {{=row.patient.first_name}}</td>
                <td>{{=row.patient.date_of_birth}}</td>
                <td>{{=row.provider.last_name}}, {{=row.provider.first_name}} {{=row.provider.title}}</td>
                <td>{{=row.site.name}}</td>
                <td>{{=row.referral.appointment_date}}</td>
                <td>Sent</td>
                <td>
                    <div class="btn-group" role="group"
                         style="display: flex; justify-content: center;"> {{#http://stackoverflow.com/questions/10706177/bootstrap-btn-group-mis-aligned}}
                        <button type="button" class="btn btn-secondary btn-sm"><span
                                class="glyphicon glyphicon-folder-close" title="Archive"
                                data-toggle="tooltip"
                                data-placement="top"></span></button>
                        <button type="button" class="btn btn-secondary btn-sm" data-edit-object="{{=row.referral.id}}"><span
                                class="glyphicon glyphicon-edit" title="Edit"
                                data-toggle="tooltip"
                                data-placement="top"></span></button>
                        <script>
                            $('[data-edit-object="{{=row.referral.id}}"]').click(function(){
                                $("input[name='first_name']").val("{{=row.patient.first_name}}");
                                $("input[name='last_name']").val("{{=row.patient.last_name}}");
                                $("input[name='date_of_birth']").val("{{=row.patient.date_of_birth}}");
                                $("select[name='ordering_provider']").val("{{=row.referral.ordering_provider}}");
                                $("input[name='appointment_date']").val("{{=row.referral.appointment_date}}");
                                $("select[name='referral_destination']").val("{{=row.referral.referral_destination}}");
                                var urgent;
                                {{=XML("urgent="+json(row.referral.urgent)+";")}}
                                $("input[name='urgent']").prop("checked",urgent);
                                $("input[name='_update']").val("{{=row.referral.id}}")
                            });
                        </script>
                        <button type="button" class="btn btn-secondary btn-sm"><span
                                class="glyphicon glyphicon-duplicate" title="Notes"
                                data-toggle="tooltip"
                                data-placement="top"></span></button>
                        <button type="button" class="btn btn-secondary btn-sm"><span
                                class="glyphicon glyphicon-info-sign" title="Info"
                                data-toggle="tooltip"
                                data-placement="top"></span></button>
                    </div>
                </td>
            </tr>
        {{pass}}
        </table>
    </div>
    <div class="panel-footer">
        <button type="button" class="btn btn-success btn-sm pull-left"><span
                class="glyphicon glyphicon glyphicon-share-alt"></span> Send Faxes
        </button>

        {{include '__page_html/paginate.html'}}

    </div>
</div>

<div id="object_modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true"><span class="glyphicon glyphicon-remove"></span></span></button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
            {{form.element('div#submit_record__row').element('div.col-sm-9')['_class']="col-sm-12"}}    {{# https://groups.google.com/forum/#!topic/web2py/bgDJWVmhS5Y}}
            {{for i in form.elements('div.form-group'):}}   {{# just .form-group works, but better to be explicit  # http://www.w3schools.com/bootstrap/bootstrap_forms_sizing.asp}}
                {{i['_class'] += " form-group-sm"}}
            {{pass}}
            {{for i in form.elements('input.string'):}}
                {{i['_class'] += " form-control"}}
            {{pass}}
                {{=form}}
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{{block page_js}}
{{include '__page_js/tooltip.html'}}
{{include '__page_js/object_modal.html'}}
{{include '__page_js/flash_modal.html'}}
{{include '__page_js/table_check_all.html'}}
{{end}}