{{left_sidebar_enabled=True}}
{{extend 'layout.html'}}

{{block left_sidebar}}
<ul class="nav nav-pills nav-stacked">
    {{for each in ['destination', 'patient', 'provider', 'site']:}}
            <li role="presentation" {{if request.function==each:}}class="active"{{pass}}><a href="./{{=each}}">{{=each}}s</a></li>
    {{pass}}
</ul>
{{super}}
{{end}}

{{include}}

{{# begin}}

{{block page_js}}
{{include '__page_js/tooltip.html'}}
{{include '__page_js/flash_modal.html'}}
{{end}}