{{left_sidebar_enabled=True}}
{{extend 'layout.html'}}

{{block left_sidebar}}
<ul class="nav nav-pills nav-stacked">
  <li role="presentation" class="active"><a href="#">Providers</a></li>
  <li role="presentation"><a href="#">Profile</a></li>
  <li role="presentation"><a href="#">Messages</a></li>
</ul>
{{end}}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title pull-left display-3"><span
                class="glyphicon glyphicon-paste"></span> {{=request.function.capitalize()}} {{=request.controller.capitalize()}}
        </h3>
        <button type="button" class="btn btn-primary pull-right btn-sm" data-toggle="modal"
                data-target="#add_referral_modal"><span class="glyphicon glyphicon-plus"></span>
            Add {{=request.function}}
        </button>
        <div class="clearfix"></div>
    </div>
    <div class="panel-body" style="overflow-x: auto;"> {{# otherwise it will overflow beyond panel-body when resized}}
        <table class="table table-striped table-hover table-bordered table-condensed">
            <tr>
                <th>Provider name</th>
                <th>Title</th>
                <th>Phone</th>
                <th>Email</th>
            </tr>
        </table>
    </div>
</div>