{{old_var_items = filter(lambda x: "_" not in x[0],request.vars.items())}}  {{# get rid of crap like _formkey}}

<div class="btn-group pull-right"
     role="group">  {{# The .btn classes are designed to be used with the <button> element. However, you can also use these classes on <a> or <input> elements. When using button classes on <a> elements that are used to trigger in-page functionality (like collapsing content), rather than linking to new pages or sections within the current page, these links should be given a role="button" to appropriately convey their purpose to assistive technologies such as screen readers.}}
    <div class="btn-group dropup" role="group">
        <button type="button" class="btn btn-secondary btn-sm dropdown-toggle" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
            {{=paginater.items_per_page}} per page
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            {{for each in paginater.items_per_page_urls:}}
                <li><a href="{{=each['href']}}">{{=each['number']}} per page {{if each["current"]:}}<span class="glyphicon glyphicon-ok"></span>{{pass}}</a></li>
            {{pass}}  {{# keep at page 0, as switching from 5 per page at last page, then switching to 50 per page will result in, ie., page 9 of 1.}}
        </ul>
    </div>
    <div class="btn-group dropup" role="group">
        <button type="button" class="btn btn-secondary btn-sm dropdown-toggle" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
            Page {{=paginater.page}} of {{=paginater.pages}}
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            {{for each in paginater.page_urls:}}
                <li><a href="{{=each['href']}}">Page {{=each['number']}} {{if each['current']:}}<span class="glyphicon glyphicon-ok"></span>{{pass}}</a></li>
            {{pass}}
        </ul>
    </div>
    <button type="button"{{if paginater.has_prev:}}
            onclick='location.href="{{=paginater.prev_url}}"'{{pass}}
            class="btn btn-secondary btn-sm {{if not paginater.has_prev:}}disabled{{pass}}"><span
            class="glyphicon glyphicon glyphicon-menu-left"></span></button>
    <button type="button"{{if paginater.has_next:}}
            onclick='location.href="{{=paginater.next_url}}"'{{pass}}
            class="btn btn-secondary btn-sm {{if not paginater.has_next:}}disabled{{pass}}"><span
            class="glyphicon glyphicon glyphicon-menu-right"></span></button>
</div>
<div class="clearfix"></div> {{#http://jsfiddle.net/b2m38br9/1/}}